<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Criador de Personagem RPG Old Dragon</h1>
    </header>
    <nav>
        <a href="{{ url_for('sobre.html') }}"> Sobre</a>
        <a href="{{ url_for('personagem.criar_personagem') }}">Criação de Personagem</a>
        <a href="">Personagens Criados</a>
    </nav>
</body>
</html>