<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Old Dragon — Criação de Personagem</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}" type="image/png">
</head>
<body>
  <header class="container">
    <img src="{{ url_for('static', filename = 'favicon.png')}}" alt="">
    <h1>RPG Old Dragon — Criação de Personagem</h1>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container muted">
    <small>Tópicos Especiais em Software • Criador de Personagem Old Dragon • Lanna dos Anjos Costa</small>
  </footer>
</body>
</html>
