<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Personagem</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Criar Personagem</h1>
    </header>
    <form method="post">

        <label>Nome: <input type="text" name="nome" required></label><br>
        
        <label>Raça:</label>
        <select name="raca">
            <option value="Humano">Humano</option>
            <option value="Elfo">Elfo</option>
            <option value="Anão">Anão</option>
            <option value="Halfling">Halfling</option>
        </select><br>

        <label>Classe:</label>
        <select name="classe">
            <option value="Guerreiro">Guerreiro</option>
            <option value="Ladrão">Ladrão</option>
            <option value="Mago">Mago</option>
        </select><br>

        <label>Tipo de Distribuição de Atributos:</label>
        <select name="mode" id="">
            <option value="1">Clássico</option>
            <option value="2">Aventureiro</option>
            <option value="3">Heroico</option>
        </select><br>


    <button type="submit">Criar</button>
    </form>
</body>
</html>